body {
  font-family: 'Roboto';
  background-color: #fff;
}

.container {
  display: block;
  max-width: vw(1410);
  margin: 0 auto;
  flex-grow: 1;
}

.font {
  font-family: 'Conv_12462';
}

.slider {
  position: static;
  width: vw(570);
  margin-top: vw(23);

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: vw(-50);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      display: block;
      height: vw(10);
      width: vw(10);
      margin-right: vw(10);
    }

    button {
      display: block;
      border-radius: 50%;
      margin: 0;
      padding: 0;
      border: none;
      font-size: 0;
      width: vw(10);
      height: vw(10);
      background-color: #9297a1;
      opacity: 0.2;
      cursor: pointer;
    }

    .slick-active {
      button {
        opacity: 1;
      }
    }
  }

  p {
    display: block;
    margin-bottom: vw(14);
    font-weight: bold;
    font-size: vw(22);
    list-style: vw(26);
    color: #9297a1;
  }

  span {
    display: block;
    font-size: vw(16);
    line-height: vw(26);
    color: #9297a1;
  }

  &-block {
    position: relative;
    box-sizing: border-box;
    padding: 58px 0 vw(270);
    background: #f3f7f9 50% 38% / cover url(../img/slider-bg.png) no-repeat;

    .container {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &-title {
    position: relative;
    display: block;
    width: vw(800);
    margin-right: vw(40);
    flex-shrink: 0;
    color: #5c6579;
    font-size: vw(50);
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: vw(8);
      display: block;
      width: vw(4);
      height: vw(100);
      background: linear-gradient(
        to bottom,
        #6398f2 0%,
        #73cb51 15%,
        #e5c535 29%,
        #d74e31 48%,
        #6398f2 100%
      );
    }
  }
}

.grid {
  position: relative;
  z-index: 2;
  margin-top: vw(-155);

  &-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9297a1;
    font-size: vw(14);
    line-height: vw(26);
    font-family: 'Roboto';
    width: vw(146);
    height: vw(40);
    border: vw(1) solid #5c6579;
    border-radius: vw(3);
    text-decoration: none;
  }

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &-row {
    height: vw(530);
    width: calc(33.3333333% - 1.04vw / 3);
    margin-right: auto;
    text-decoration: none;

    &:nth-child(4n + 1) {
      .grid-col {
        height: 100%;
      }
    }

    &:nth-child(4n + 2) {
      .grid-col {
        height: calc(50% - 0.26vw);
      }
    }

    &:nth-child(4n + 3) {
      margin-right: 0;

      .grid-col {
        &:nth-child(1) {
          height: calc(100% - 4.16vw);
        }
        &:nth-child(2) {
          height: vw(70);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: vw(5);
          padding: 0;
        }
      }
    }

    &:nth-child(4n + 4) {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
      height: vw(366);
      margin-top: vw(10);
      margin-bottom: vw(10);

      .grid-col {
        &:nth-child(1) {
          width: calc(66.7% - 0.26vw);
        }

        &:nth-child(2) {
          width: calc(33.3% - 0.26vw);
          margin-top: 0;
        }
      }

      .grid-col + .grid-col {
        margin-left: vw(10);
      }

      h2 {
        display: block;
        margin-bottom: vw(28);
        font-weight: bold;
        font-size: vw(25);
        line-height: vw(26);
        color: #5c6579;
        text-transform: uppercase;
      }

      p {
        display: block;
        margin-bottom: vw(18);
        font-weight: bold;
        font-size: vw(22);
        line-height: vw(26);
        color: #9297a1;
      }

      span {
        display: block;
        margin-bottom: vw(35);
        font-size: vw(16);
        line-height: vw(26);
        color: #9297a1;
      }

      b {
        display: block;
        font-weight: bold;
        font-size: vw(110);
        color: #9297a1;
      }
    }
  }

  &-col {
    box-sizing: border-box;
    padding: vw(39);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;

    & + & {
      margin-top: 0.52vw;
    }

    h3 {
      display: block;
      color: #ffffff;
      font-size: vw(25);
      line-height: vw(16);
      text-transform: uppercase;
    }
  }

  &-more {
    display: block;
    font-weight: 500;
    font-size: vw(16);
    line-height: vw(26);
    color: #fff;
    text-decoration: none;
  }
}
