@mixin mMax {
  @media (max-width: 768px) {
    @content;
  }
}

@function vw($px) {
  @return (($px/1920) * 100) + vw;
}

@font-face {
  font-family: 'Conv_12462';
  src: local('☺'), url('../fonts/12462.woff');
  font-weight: normal;
  font-style: normal;
}
